body, html {
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
}

.wip {
  color: grey;
}

@media (max-width: 960px) {
  .img-cover {
    max-height: 300px;
  }
  .book-cover {
    margin-bottom: 1em;  
  }
}

.content {
  font-size: 110%;
}

.content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}