<html lang="en">

{% include head.html %}

<body>
  <div class="container">
    {% include header.html %}

    <div class="row">
      <div class="col-lg-8 mx-auto content">
        {{ content }}

        <div class="article-divider"></div>

        <div class="article-end">
          <p>
            The content on this site is based on the materials from Machine Learning Bookcamp. 
            Machine Learning Bookcamp: learn machine learning by doing projects and get the skills
            needed to work as a data scientist or machine learning engineer.
            <a href="/">Learn more about the book</a>.
          </p>
          <p>To stay informed about new content on this site and book updates, join our newsletter</p>

          {% include subscribe.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </div>

</body>